$main-color: #53BBB4;
$main-color-dark: #4EAFA9;
$background-grey: #EDEFF0;
$light-grey: #F9FAFA;
$light-grey-border: #F0F2F4;
$medium-grey: #B2BAC2;
$dark-grey: #8D9AA5;
$darker-grey: #5A6772;
$red: #E15258;
$blue: #39ADD1;
$dark-blue: #2570A8;
$orange: #F9845B;
$alt-blue: #3AB4D8;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin text-field {
	display: inline-block;
	outline: none;
	text-decoration: none;
	font: 14px/100% 'Open Sans', sans-serif;
	padding: .5em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	@include border-radius(3px);
}

@mixin button($color: $red, $text_color: $white) {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% 'Open Sans', sans-serif;
  @include border-radius(3px);
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));
 
  color: $text_color !important;
  font-weight: bold;
  border: solid 1px darken($color, 18%);
  background: $color;
  @include linearGradient(saturate($color, 15%), darken($color, 15%));
 
  &:hover {
    text-decoration: none;
    background: saturate($color, 50%);
    @include linearGradient(saturate($color, 10%), darken($color, 5%));
  }
 
  &:active {
    position: relative;
    top: 1px;
    color: saturate($color, 15%);
    @include linearGradient(saturate($color, 15%), lighten($color, 15%));
  }
}

@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin box-sizing($border-box) {
	-webkit-box-sizing: $border-box;
	-moz-box-sizing: $border-box;
	box-sizing: $border-box;
}

body {
	font-family: 'Open Sans';
	color: $dark-grey;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	background: $background-grey;
	a {
		color: $blue;
	}
	a:hover {
		color: $dark-blue;
	}
}

.close {
	color: $darker-grey;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border: 1px solid $light-grey-border!important;
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
	outline: none;
	background-color: $light-grey;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.no-padding {
	padding: 0;
}

@media(max-width:767px){}

a:focus {
	outline: none;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	color: $dark-grey;
	border: 1px solid $medium-grey;
}

.form-control::-webkit-input-placeholder {
	color: $medium-grey;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: none;
}

.modal-action-btn {
	color: $medium-grey;
	position: absolute;
	right: 0;
	top: 10px;
}

.modal-backdrop.in {
	background: white;
	opacity: .8;
	filter: alpha(opacity=80);
}

.modal-content {
	border: none;
	@include box-shadow(0, 1px, 2px, rgba(141, 154, 165, 0.35));
	@include box-sizing(border-box);
	@include border-radius(3px);
}

.modal-header {
	@include linearGradient($light-grey, white);
	padding: 0.5em;
	border-bottom: 1px solid $light-grey-border;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	text-align: center;
	h4 {
		font-size: 16px;
		color: $medium-grey;
	}
}

.modal-footer {
	border-top: 1px solid $light-grey-border;
}

.btn {
	font-size: 12px;
	@include border-radius(3px);
	font-weight: 600;
}

.btn-default {
	@include linearGradient(#ffffff, $light-grey);
	border: 1px solid $light-grey-border;
	color: $dark-grey;
}

.btn-default:hover {
	@include linearGradient(#ffffff, $light-grey-border);
	border: 1px solid $light-grey-border;
	color: $darker-grey;
}

.btn-primary {
	background-color: $blue;
	border-color: $blue;
	border-width: 1px 1px 3px;
	-webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
	-moz-box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
	border-style: solid;
}

.btn-primary:hover {
	color: $light-grey;
	background-color: $blue;
	border-color: $blue;
}

input, textarea {
	border: 1px solid $light-grey-border;
	@include border-radius(3px);
	padding: 0.3em;
	font-size: 12px;
	padding-left: 0.5em!important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

.dropdown-menu {
	border-radius: 3px;
	border: 1px solid $light-grey-border;
	@include box-shadow(0, 4px, 10px, rgba(141, 154, 165, 0.25));
}

.clear {
	clear: both;
}

.red-link {
	color: $red;
}

#main-logo {
	color: white;
	font-weight: 600;
	font-size: 1.6em;
}

.fb-btn {
	@include linearGradient(#627AAD, #3b5998);
	border: 1px solid #3b5998;
	@include border-radius(3px);
	color: white;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
	i {
		margin-right: 0.5em;
		border: none;
	}
}

.fb-btn:hover {
	color: white;
	border: 1px solid #3b5998;
	@include linearGradient(saturate(#627AAD, 5%), darken(#3b5998, 5%));
}

.fb-btn:active {
	color: white;
	border: 1px solid #3b5998;
	@include linearGradient(saturate(#627AAD, 7%), darken(#3b5998, 7%));
}

.activeGreen {
	color: $main-color!important;
}

.activeRed {
	color: $red!important;
}

#main-header {
	width: 100%;
	#logo-area {
		background: $main-color;
		padding: 0.7em 0;
		border-bottom: 1px solid $main-color-dark;
		#main-search-container {
			label {
				font-size: 12px;
				margin-top: 0.7em;
				font-weight: 400;
			}
			#search-filter-form {
				position: relative;
			}
			position: relative;
			#main-search {
				color: $dark-grey;
				border-radius: 0;
				border: none;
				font-size: 12px;
				height: 30px;
				padding: 0.3em 0.5em;
			}
			#search-filter-box {
				width: 100%;
				padding: 0.7em;
				padding-top: 0;
				position: absolute;
				top: 29px;
				z-index: 10;
				min-height: 100px;
				background: white;
				@include border-radius(3px);
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				@include box-shadow(0, 1px, 2px, rgba(141, 154, 165, 0.35));
			}
			#filter-search-btn {
				margin-top: 1em;
			}
		}
		
		#search-filters-btn, #search-btn {
			border: none;
			font-size: 11px;
			color: $medium-grey;
			padding: 0.67em;
			padding-bottom: 0.6em;
		}
		#search-filters-btn {
			padding-bottom: 0.67em;
		}
		#search-filters-btn:hover, #search-btn:hover {
			background: white;
			color: $dark-grey;
		}
		#login {
			text-align: right;
		}
	}
}

#subnav {
	#subnav-inner {
		@include box-shadow(0, 1px, 2px, rgba(141, 154, 165, 0.35));
		@include border-radius(3px);
		margin: 1em;
		background: white;
		text-align: center;
		padding: 1em;
		position: relative;
		#discover-menu {
			display: inline-block;
		}
		#type-menu {
			position: absolute;
			left: 0;
			top: 1em;
			a {
				color: $blue;
				font-weight: 700;
				padding-left: 0;
			}
			a:hover {
					background: none;
					color: $red;
			}
			.dropdown-menu {
				text-align: left;
				a {
					display: block;
					padding-left: 0.7em;
				}
			}
			#type-menu-dropdown {
				margin-top: 1em;
			}
		}
		#country-menu {
			position: absolute;
			right: 0;
			top: 1em;
			a {
				color: $blue;
				font-weight: 700;
			}
			a:hover {
				background: none;
				color: $red;
			}
			#country-menu-dropdown {
				right: 0;
				padding-bottom: 1em;
				margin-top: 1em;
				text-align: left;
				input {
					margin: 0.5em;
					padding: 0.3em 0.5em;
					box-shadow: none;
					border-radius: 3px;
					margin-bottom: 0.7em;
					border: 1px solid $light-grey-border;
				}
				h5 {
					font-weight: 600;
					margin-bottom: 0;
					padding-left: 0.5em;
					margin-bottom: 0.3em;
				}
				a {
					font-weight: 500;
					padding: 0.5em 0.7em;
					padding-bottom: 0;
					font-size: 0.9em;
				}
			}
		}
		a {
			text-decoration: none;
			padding: 1em 1.5em;
			padding-bottom: 1.1em;
			font-weight: 800;
			color: $darker-grey;
		}
		a:hover {
			background: $light-grey;
			color: $darker-grey;
		}
		a.active {
			padding-bottom: 0.9em;
			border-bottom: 2px solid $main-color;
		}
	}
}

.post-block {
	background: white;
	padding: 1em;
	padding-bottom: 0;
	min-height: 10px;
	@include border-radius(3px);
	@include box-shadow(0, 1px, 2px, rgba(141, 154, 165, 0.35));
	@include box-sizing(border-box);
	img {
		width: 30px;
		margin-right: 0.5em;
		@include border-radius(3px);
	}
	a {
		font-weight: 600;
	}
	time {
		color: $medium-grey;
	}
	p {
		margin-top: 0.5em;
		margin-bottom: 0;
	}
	.post-attachments {
		.attachment-list {
			margin-top: 0.7em;
			padding: 0.3em 0;
			.attachments-btn {
				padding: 0.5em;
				padding-left: 0.7em;	
				margin-right: 0.5em;
				color: $medium-grey;
				border-right: 1px solid white;
				text-decoration: none;
			}
			.attachments-btn:hover {
				color: $dark-grey;
				text-decoration: none;
			}
			.attachment-item {
				display: inline-block;
				img {
					height: 30px;
				}
				margin-right: 0.1em;
			}
			@include border-radius(3px);
			background: $light-grey;
			border: 1px solid $light-grey-border;
		}
	}
	.post-interactions {
		margin-top: 0.80em;
		.interaction-list {
			li {
				float: left;
				margin-right: 1em;
				font-size: 12px;
				a {
					font-weight: 400;
				}
			}
			width: 100%;
			display: block;
		}
	}
	.post-actions {
		margin: 0 0.1px;
		margin-top: 0.2em;
		margin-left: 0.3px;
		.post-action-list {
			margin-left: -14.1px;
			margin-right: -14.2px;
			border-bottom-left-radius: 3px;
			li:first-child a {
				border-bottom-left-radius: 3px;
			}
			li:last-child a {
				border-bottom-right-radius: 3px;
			}
		}
		.post-action {
			padding: 0;
			text-align: center;

			a {
				@include linearGradient(#ffffff, $light-grey);
				text-decoration: none;
				color: $medium-grey;
				font-size: 12px;
				width: 100%;
				display: inline-block;
				padding: 0.7em 0.5em;
				i {
					margin-right: 0.5em;
				}
			}
			a:hover {
				@include linearGradient(saturate(#ffffff, 2%), darken(#f9f9f9, 2%));
				color: $dark-grey;
			}
			a:active {
				@include linearGradient(saturate(#ffffff, 5%), darken(#f9f9f9, 5%));
				color: $medium-grey;
			}
		}
	}
}

#comments-modal {
	.modal-body {
		padding-bottom: 0;
		padding-top: 15px;
		max-height: 500px;
		overflow: auto;
	}
	.comment-block {
		border-bottom: 1px solid $light-grey-border;
		margin-bottom: 1em;
		img {
			width: 30px;
			@include border-radius(3px);
			margin-right: 0.5em;
		}
		p {
			margin-top: 0.5em;
			font-size: 13px;
		}
	}
	.comment-block:last-child {
		border-bottom: none;
	}
}

#trailing-modal {
	.modal-body {
		padding-bottom: 0;
		padding-top: 15px;
		max-height: 500px;
		overflow: auto;
	}
	#trailing-list {
		.trailing-user {
			border-bottom: 1px solid $light-grey-border;
			padding-bottom: 1em;
			margin-bottom: 1em;
			img {
				width: 40px;
				@include border-radius(3px);
				float: left;
				margin-right: 1em;
			}
			a {
				margin-right: 0.3em;
			}
			.trailing-user-location {
				font-size: 12px;
			}
			.trailing-user-rating, .trailing-user-followers {
				font-size: 12px;
			}
			.trailing-user-rating {
				margin-right: 0.7em;
			}
			strong {
				font-weight: 600;
			}
		}
		.trailing-user:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}	
}