<ul class="container list-unstyled">
	<li class="col-md-6">
		<div class="post-block">
			<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/t1.0-1/c31.0.346.346/	s160x160/942485_4892005619701_329471351_n.jpg">
			<a href="#">Hilarl Agil</a>
			<time>9 hours ago</time> near <a href="#">Male'</a>
			<p>I am selling an <a href="#">#Apple</a> <a href="#">#iPhone 5</a> for <a href="#" class="red-link">$199</a>, the phone is in very good condition both cosmetically and function wise.</p>
			<div class="post-attachments">
				<ul class="list-unstyled attachment-list">
					<a href="#" class="attachments-btn">
						<i class="fa fa-paperclip fa-lg"></i>
					</a>
						<a href="#" class="attachment-item">
							<img src="http://www1.pcmag.com/media/images/302835-apple-iphone-5-sprint.jpg">
						</a>
						<a href="#" class="attachment-item">
							<img src="http://www1.pcmag.com/media/images/302835-apple-iphone-5-sprint.jpg">
						</a>
						<a href="#" class="attachment-item">
							<img src="http://www1.pcmag.com/media/images/302835-apple-iphone-5-sprint.jpg">
						</a>
					<br class="clear">
				</ul>
			</div>
			<div class="post-interactions">
				<ul class="list-unstyled interaction-list">
					<li>
						<a href="#" data-toggle="modal" data-target="#trailing-modal">10 Trailing</a>
					</li>
					<li>
						<a href="#" data-toggle="modal" data-target="#comments-modal">20 Comments</a>
					</li>
				</ul>
				<br class="clear">
			</div>
			<div class="post-actions">
				<ul class="list-unstyled row post-action-list">
					<li class="col-md-3 post-action">
						<a href="" ng-click='trailBtn($event)'><i class="fa fa-leaf"></i> Trail</a>
					</li>
					<li class="col-md-3 post-action">
						<a href="" data-toggle="modal" data-target="#new-post-modal"><i class="fa fa-comment"></i> Comment</a>
					</li>
					<li class="col-md-3 post-action">
						<a href=""><i class="fa fa-share"></i> Share</a>
					</li>
					<li class="col-md-3 post-action">
						<a href="" ng-click='flagBtn($event)'><i class="fa fa-flag"></i> Flag</a>
					</li>
				</ul>
			</div>
		</div>
	</li>
	<li class="col-md-6">
		<div class="post-block">
			<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/t1.0-1/c31.0.346.346/	s160x160/942485_4892005619701_329471351_n.jpg">
			<a href="#">Hilarl Agil</a>
			<time>9 hours ago</time> near <a href="#">Male'</a>
			<p>I am selling an <a href="#">#Apple</a> <a href="#">#iPhone 5</a> for <a href="#" class="red-link">$199</a>, the phone is in very good condition both cosmetically and function wise.</p>
			<div class="post-attachments">
				<ul class="list-unstyled attachment-list">
					<a href="#" class="attachments-btn">
						<i class="fa fa-paperclip fa-lg"></i>
					</a>
						<a href="#" class="attachment-item">
							<img src="http://www1.pcmag.com/media/images/302835-apple-iphone-5-sprint.jpg">
						</a>
						<a href="#" class="attachment-item">
							<img src="http://www1.pcmag.com/media/images/302835-apple-iphone-5-sprint.jpg">
						</a>
						<a href="#" class="attachment-item">
							<img src="http://www1.pcmag.com/media/images/302835-apple-iphone-5-sprint.jpg">
						</a>
					<br class="clear">
				</ul>
			</div>
			<div class="post-interactions">
				<ul class="list-unstyled interaction-list">
					<li>
						<a href="#" data-toggle="modal" data-target="#trailing-modal">10 Trailing</a>
					</li>
					<li>
						<a href="#" data-toggle="modal" data-target="#comments-modal">20 Comments</a>
					</li>
				</ul>
				<br class="clear">
			</div>
			<div class="post-actions">
				<ul class="list-unstyled row post-action-list">
					<li class="col-md-3 post-action">
						<a href="" ng-click='trailBtn($event)'><i class="fa fa-leaf"></i> Trail</a>
					</li>
					<li class="col-md-3 post-action">
						<a href="" data-toggle="modal" data-target="#new-post-modal"><i class="fa fa-comment"></i> Comment</a>
					</li>
					<li class="col-md-3 post-action">
						<a href=""><i class="fa fa-share"></i> Share</a>
					</li>
					<li class="col-md-3 post-action">
						<a href="" ng-click='flagBtn($event)'><i class="fa fa-flag"></i> Flag</a>
					</li>
				</ul>
			</div>
		</div>
	</li>
</ul>