<nav id="subnav" class="container">
	<div id="subnav-inner">
		<div id="type-menu" class="pull-left">
			<div class="dropdown">
				<a data-toggle="dropdown" href="#">Buying <b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="type-menu-dropdown">
					<a href="#">Selling</a>
					<a href="#">Hiring</a>
				</ul>
			</div>
		</div>
		<a href="/discover" active-link="active" class="active">Discover</a>
		<a href="/trending" active-link="active">Trending Nearby</a>
		<a href="/featured" active-link="active">Featured</a>
		<div id="country-menu">
			<div class="dropdown">
				<a data-toggle="dropdown" href="#">Male', Maldives <b class="caret"></b></a>
				<ul id="country-menu-dropdown" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					<li><input type="text" class="col-md-11" id="country-search-input" data-provide="typeahead"></li>
					<li><h5>Top Locations</h5></li>
					<li><a href="#">Male'</a></li>
					<li><a href="#">New York</a></li>
					<li><a href="#">Singapore</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>

<section ui-view></section>