body {
  font-family: 'Open Sans';
  color: #8d9aa5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #edeff0; }
  body a {
    color: #39add1; }
  body a:hover {
    color: #2570a8; }

.close {
  color: #5a6772; }

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border: 1px solid #f0f2f4 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: none;
  background-color: #f9fafa;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear; }

.no-padding {
  padding: 0; }

a:focus {
  outline: none; }

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  color: #8d9aa5;
  border: 1px solid #b2bac2; }

.form-control::-webkit-input-placeholder {
  color: #b2bac2; }

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none; }

.modal-action-btn {
  color: #b2bac2;
  position: absolute;
  right: 0;
  top: 10px; }

.modal-backdrop.in {
  background: white;
  opacity: .8;
  filter: alpha(opacity=80); }

.modal-content {
  border: none;
  -webkit-box-shadow: 0 1px 2px rgba(141, 154, 165, 0.35);
  -moz-box-shadow: 0 1px 2px rgba(141, 154, 165, 0.35);
  box-shadow: 0 1px 2px rgba(141, 154, 165, 0.35);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.modal-header {
  background: #f9fafa;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9fafa 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9fafa), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9fafa 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9fafa 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9fafa 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9fafa 0%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  padding: 0.5em;
  border-bottom: 1px solid #f0f2f4;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  text-align: center; }
  .modal-header h4 {
    font-size: 16px;
    color: #b2bac2; }

.modal-footer {
  border-top: 1px solid #f0f2f4; }

.btn {
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-weight: 600; }

.btn-default {
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #f9fafa 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f9fafa));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #f9fafa 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #f9fafa 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #f9fafa 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, #f9fafa 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #f0f2f4;
  color: #8d9aa5; }

.btn-default:hover {
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #f0f2f4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f0f2f4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #f0f2f4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #f0f2f4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #f0f2f4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, #f0f2f4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #f0f2f4;
  color: #5a6772; }

.btn-primary {
  background-color: #39add1;
  border-color: #39add1;
  border-width: 1px 1px 3px;
  -webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  -moz-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  border-style: solid; }

.btn-primary:hover {
  color: #f9fafa;
  background-color: #39add1;
  border-color: #39add1; }

input, textarea {
  border: 1px solid #f0f2f4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 0.3em;
  font-size: 12px;
  padding-left: 0.5em !important; }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }

.dropdown-menu {
  border-radius: 3px;
  border: 1px solid #f0f2f4;
  -webkit-box-shadow: 0 4px 10px rgba(141, 154, 165, 0.25);
  -moz-box-shadow: 0 4px 10px rgba(141, 154, 165, 0.25);
  box-shadow: 0 4px 10px rgba(141, 154, 165, 0.25); }

.clear {
  clear: both; }

.red-link {
  color: #e15258; }

#main-logo {
  color: white;
  font-weight: 600;
  font-size: 1.6em; }

.fb-btn {
  background: #627aad;
  /* Old browsers */
  background: -moz-linear-gradient(top, #627aad 0%, #3b5998 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #627aad), color-stop(100%, #3b5998));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #627aad 0%, #3b5998 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #627aad 0%, #3b5998 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #627aad 0%, #3b5998 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #627aad 0%, #3b5998 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #3b5998;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px; }
  .fb-btn i {
    margin-right: 0.5em;
    border: none; }

.fb-btn:hover {
  color: white;
  border: 1px solid #3b5998;
  background: #5c78b3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #5c78b3 0%, #344e86 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5c78b3), color-stop(100%, #344e86));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5c78b3 0%, #344e86 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #5c78b3 0%, #344e86 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #5c78b3 0%, #344e86 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #5c78b3 0%, #344e86 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.fb-btn:active {
  color: white;
  border: 1px solid #3b5998;
  background: #5a77b5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #5a77b5 0%, #314a7e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5a77b5), color-stop(100%, #314a7e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5a77b5 0%, #314a7e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #5a77b5 0%, #314a7e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #5a77b5 0%, #314a7e 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #5a77b5 0%, #314a7e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.activeGreen {
  color: #53bbb4 !important; }

.activeRed {
  color: #e15258 !important; }

#main-header {
  width: 100%; }
  #main-header #logo-area {
    background: #53bbb4;
    padding: 0.7em 0;
    border-bottom: 1px solid #4eafa9; }
    #main-header #logo-area #main-search-container {
      position: relative; }
      #main-header #logo-area #main-search-container label {
        font-size: 12px;
        margin-top: 0.7em;
        font-weight: 400; }
      #main-header #logo-area #main-search-container #search-filter-form {
        position: relative; }
      #main-header #logo-area #main-search-container #main-search {
        color: #8d9aa5;
        border-radius: 0;
        border: none;
        font-size: 12px;
        height: 30px;
        padding: 0.3em 0.5em; }
      #main-header #logo-area #main-search-container #search-filter-box {
        width: 100%;
        padding: 0.7em;
        padding-top: 0;
        position: absolute;
        top: 29px;
        z-index: 10;
        min-height: 100px;
        background: white;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        -webkit-box-shadow: 0 1px 2px rgba(141, 154, 165, 0.35);
        -moz-box-shadow: 0 1px 2px rgba(141, 154, 165, 0.35);
        box-shadow: 0 1px 2px rgba(141, 154, 165, 0.35); }
      #main-header #logo-area #main-search-container #filter-search-btn {
        margin-top: 1em; }
    #main-header #logo-area #search-filters-btn, #main-header #logo-area #search-btn {
      border: none;
      font-size: 11px;
      color: #b2bac2;
      padding: 0.67em;
      padding-bottom: 0.6em; }
    #main-header #logo-area #search-filters-btn {
      padding-bottom: 0.67em; }
    #main-header #logo-area #search-filters-btn:hover, #main-header #logo-area #search-btn:hover {
      background: white;
      color: #8d9aa5; }
    #main-header #logo-area #login {
      text-align: right; }

#subnav #subnav-inner {
  -webkit-box-shadow: 0 1px 2px rgba(141, 154, 165, 0.35);
  -moz-box-shadow: 0 1px 2px rgba(141, 154, 165, 0.35);
  box-shadow: 0 1px 2px rgba(141, 154, 165, 0.35);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin: 1em;
  background: white;
  text-align: center;
  padding: 1em;
  position: relative; }
  #subnav #subnav-inner #discover-menu {
    display: inline-block; }
  #subnav #subnav-inner #type-menu {
    position: absolute;
    left: 0;
    top: 1em; }
    #subnav #subnav-inner #type-menu a {
      color: #39add1;
      font-weight: 700;
      padding-left: 0; }
    #subnav #subnav-inner #type-menu a:hover {
      background: none;
      color: #e15258; }
    #subnav #subnav-inner #type-menu .dropdown-menu {
      text-align: left; }
      #subnav #subnav-inner #type-menu .dropdown-menu a {
        display: block;
        padding-left: 0.7em; }
    #subnav #subnav-inner #type-menu #type-menu-dropdown {
      margin-top: 1em; }
  #subnav #subnav-inner #country-menu {
    position: absolute;
    right: 0;
    top: 1em; }
    #subnav #subnav-inner #country-menu a {
      color: #39add1;
      font-weight: 700; }
    #subnav #subnav-inner #country-menu a:hover {
      background: none;
      color: #e15258; }
    #subnav #subnav-inner #country-menu #country-menu-dropdown {
      right: 0;
      padding-bottom: 1em;
      margin-top: 1em;
      text-align: left; }
      #subnav #subnav-inner #country-menu #country-menu-dropdown input {
        margin: 0.5em;
        padding: 0.3em 0.5em;
        box-shadow: none;
        border-radius: 3px;
        margin-bottom: 0.7em;
        border: 1px solid #f0f2f4; }
      #subnav #subnav-inner #country-menu #country-menu-dropdown h5 {
        font-weight: 600;
        margin-bottom: 0;
        padding-left: 0.5em;
        margin-bottom: 0.3em; }
      #subnav #subnav-inner #country-menu #country-menu-dropdown a {
        font-weight: 500;
        padding: 0.5em 0.7em;
        padding-bottom: 0;
        font-size: 0.9em; }
  #subnav #subnav-inner a {
    text-decoration: none;
    padding: 1em 1.5em;
    padding-bottom: 1.1em;
    font-weight: 800;
    color: #5a6772; }
  #subnav #subnav-inner a:hover {
    background: #f9fafa;
    color: #5a6772; }
  #subnav #subnav-inner a.active {
    padding-bottom: 0.9em;
    border-bottom: 2px solid #53bbb4; }

.post-block {
  background: white;
  padding: 1em;
  padding-bottom: 0;
  min-height: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(141, 154, 165, 0.35);
  -moz-box-shadow: 0 1px 2px rgba(141, 154, 165, 0.35);
  box-shadow: 0 1px 2px rgba(141, 154, 165, 0.35);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .post-block img {
    width: 30px;
    margin-right: 0.5em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
  .post-block a {
    font-weight: 600; }
  .post-block time {
    color: #b2bac2; }
  .post-block p {
    margin-top: 0.5em;
    margin-bottom: 0; }
  .post-block .post-attachments .attachment-list {
    margin-top: 0.7em;
    padding: 0.3em 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background: #f9fafa;
    border: 1px solid #f0f2f4; }
    .post-block .post-attachments .attachment-list .attachments-btn {
      padding: 0.5em;
      padding-left: 0.7em;
      margin-right: 0.5em;
      color: #b2bac2;
      border-right: 1px solid white;
      text-decoration: none; }
    .post-block .post-attachments .attachment-list .attachments-btn:hover {
      color: #8d9aa5;
      text-decoration: none; }
    .post-block .post-attachments .attachment-list .attachment-item {
      display: inline-block;
      margin-right: 0.1em; }
      .post-block .post-attachments .attachment-list .attachment-item img {
        height: 30px; }
  .post-block .post-interactions {
    margin-top: 0.80em; }
    .post-block .post-interactions .interaction-list {
      width: 100%;
      display: block; }
      .post-block .post-interactions .interaction-list li {
        float: left;
        margin-right: 1em;
        font-size: 12px; }
        .post-block .post-interactions .interaction-list li a {
          font-weight: 400; }
  .post-block .post-actions {
    margin: 0 0.1px;
    margin-top: 0.2em;
    margin-left: 0.3px; }
    .post-block .post-actions .post-action-list {
      margin-left: -14.1px;
      margin-right: -14.2px;
      border-bottom-left-radius: 3px; }
      .post-block .post-actions .post-action-list li:first-child a {
        border-bottom-left-radius: 3px; }
      .post-block .post-actions .post-action-list li:last-child a {
        border-bottom-right-radius: 3px; }
    .post-block .post-actions .post-action {
      padding: 0;
      text-align: center; }
      .post-block .post-actions .post-action a {
        background: white;
        /* Old browsers */
        background: -moz-linear-gradient(top, white 0%, #f9fafa 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f9fafa));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, white 0%, #f9fafa 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, white 0%, #f9fafa 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, white 0%, #f9fafa 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, white 0%, #f9fafa 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
        /* IE6-9 */
        text-decoration: none;
        color: #b2bac2;
        font-size: 12px;
        width: 100%;
        display: inline-block;
        padding: 0.7em 0.5em; }
        .post-block .post-actions .post-action a i {
          margin-right: 0.5em; }
      .post-block .post-actions .post-action a:hover {
        background: white;
        /* Old browsers */
        background: -moz-linear-gradient(top, white 0%, #f4f4f4 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f4f4f4));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, white 0%, #f4f4f4 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, white 0%, #f4f4f4 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, white 0%, #f4f4f4 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, white 0%, #f4f4f4 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
        /* IE6-9 */
        color: #8d9aa5; }
      .post-block .post-actions .post-action a:active {
        background: white;
        /* Old browsers */
        background: -moz-linear-gradient(top, white 0%, #ececec 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ececec));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, white 0%, #ececec 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, white 0%, #ececec 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, white 0%, #ececec 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, white 0%, #ececec 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
        /* IE6-9 */
        color: #b2bac2; }

#comments-modal .modal-body {
  padding-bottom: 0;
  padding-top: 15px;
  max-height: 500px;
  overflow: auto; }
#comments-modal .comment-block {
  border-bottom: 1px solid #f0f2f4;
  margin-bottom: 1em; }
  #comments-modal .comment-block img {
    width: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    margin-right: 0.5em; }
  #comments-modal .comment-block p {
    margin-top: 0.5em;
    font-size: 13px; }
#comments-modal .comment-block:last-child {
  border-bottom: none; }

#trailing-modal .modal-body {
  padding-bottom: 0;
  padding-top: 15px;
  max-height: 500px;
  overflow: auto; }
#trailing-modal #trailing-list .trailing-user {
  border-bottom: 1px solid #f0f2f4;
  padding-bottom: 1em;
  margin-bottom: 1em; }
  #trailing-modal #trailing-list .trailing-user img {
    width: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    float: left;
    margin-right: 1em; }
  #trailing-modal #trailing-list .trailing-user a {
    margin-right: 0.3em; }
  #trailing-modal #trailing-list .trailing-user .trailing-user-location {
    font-size: 12px; }
  #trailing-modal #trailing-list .trailing-user .trailing-user-rating, #trailing-modal #trailing-list .trailing-user .trailing-user-followers {
    font-size: 12px; }
  #trailing-modal #trailing-list .trailing-user .trailing-user-rating {
    margin-right: 0.7em; }
  #trailing-modal #trailing-list .trailing-user strong {
    font-weight: 600; }
#trailing-modal #trailing-list .trailing-user:last-child {
  border-bottom: none;
  padding-bottom: 0; }
